button {
  width: 100px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:first-child {
    background-color: #28a745;

    &:hover {
      background-color: #218838;
    }
  }

  &:last-child {
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }
}
